<!DOCTYPE html>
  <html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />    
    <title>{{{TITLE}}}</title>
    <!--CSS_FILES-->
    <link rel="stylesheet" href="{{{CSS_FILE}}}"/>
    <!--/CSS_FILES-->
    <!--JS_FILES-->
    <script src="{{{JS_FILE}}}" charset="utf-8"></script>  
    <!--/JS_FILES-->
  </head>
  <body>
    {{{CABECERA}}}
    <div class="container">
         <div class="row">
           <div class="col-lg-8">
            <div class="page-header header-half">
              <h2>{{{TITULO}}} <small>| {{{SUBTITULO}}}</small> {{{BETA}}}</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12" style="padding:0;">
            &nbsp;
            <div id="error">{{{ERROR}}}</div>
        </div>
      </div>
        {{{CONTENT}}}
    </div>
    <!--JS_FOOTER-->
    <script type="text/javascript" src="{{{JS_SCRIPT}}}"></script>
    <!--/JS_FOOTER-->
    {{{PIE}}}
    <script type="text/javascript">
		$(document).ready(function(){
			$("#fecha").datetimepicker({
				format: 'DD/MM/YYYY'
			});
		});
    </script>
  </body>



</html>