<div class="row">
<!--BOTONERA-->
<div class="row btnra">
  <div class="col-md-12 text-right">
    <a href="{{{HTTP}}}/{{{CONTROL}}}/{{{ACCION}}}" class="btn btn-primary">NUEVO</a>
    <!--VOLVER-->
    <a href="{{{HTTP}}}/{{{CONTROL_VOLVER}}}/{{{ACCION_VOLVER}}}" class="btn btn-default">VOLVER</a>
    <!--/VOLVER-->
  </div>
</div>
<!--/BOTONERA-->
<div class="">
  <table id="tabla" class="display table table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
        <!--TITULOS-->
        	<th>{{{TITULO}}}</th>
        <!--/TITULOS-->
        </tr>
    </thead>
    <tbody>
    	<!--ROW-->
    	<tr>
    		<!--COL-->
    		<td>{{{CONT}}}</td>
    		<!--/COL-->
    	</tr>
    	<!--/ROW-->
    </tbody>
  </table>

</div>
</div>
